body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#204040,#081010);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
  }
h1 {
  color: #F5F5DC;
  text-align: center;
  font-size: 2.5rem;
  }
